.about-box {
  width: auto;
  height: 60vh;
}

.myhobbies {
  background: url('./myhobbies.jpg');
}

.myeduc {
  background: url('../components/education.jpg');
}

.myphoto {
  background: url('./me.jpg');

}

.personalheading,
.Newpersonalheading {

  font-family: "Playfair Display SC", serif;
  font-size: 1.4rem;
  font-weight: bolder;
  height: 10vh;
  padding: 13px 22px;
  background-color: #090C02;
  color: white;
}

.myphoto,
.myeduc,
.myhobbies {
  width: 18vw;
  height: 30vh;
  /* border: 2px solid red; */
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: -13%;
  background-position: -5cap;
  border-radius: 12px;
  background-size: cover;
  background-repeat: no-repeat;
}
.myhobbies{
  background-position:center ;
  /* background-position-y: -.1cap ; */
  height: 22vh;
  margin-top: -14%;
}
.myphoto {
  background-position: center;
  background-position-y: -7cap;
  height: 38vh;
  margin-top: -9%;
}

.about-myself {
  width: 70vw;
  height: 50vh;
  position: absolute;
  left: 25%;
  font-family: "Playfair Display", serif;
  margin-top: -2%;
}

.Newpersonalheading {
  display: none;
}

.none,
.none-educ,
.none-hobby {
  display: none;
}

@media screen and (max-width: 700px) {
  .about-myself {
    /* overflow: auto; */
    margin-top: 100%;
    width: 100vw;
    margin-left: -25%;
    height: 29vh;
    font-size: 1rem;
  }
  .show{
    display: block;
  }


  .myeduc,
  .myhobbies {
    width: 100vw;
    height: 30vh;
    background-position: center;
    position: absolute;
    margin-top: -60%;
    border-radius: 0px;


  }
  .myeduc {
    margin-top: 63%;
  }

  .myhobbies {
    margin-top: 160%;

  }
  .myphoto{
    width: 100vw;
    height: 30vh;
    background-position: center;
    position: absolute;
    margin-top: -60%;
    border-radius: 0px;

  }

  #about-educ {
    margin-top: 160%;
    font-size: 0.9rem;
  }
  
  #about-hobby {
    margin-top: 260%;
    font-size: 0.9rem;
    
  }

  .none,
  .none-educ,
  .none-hobby {
    display: block;
    margin-top: 20%;
    font-size: 1.4rem;
    margin-bottom: 1%;
    margin-left: 4%;
    text-decoration: underline;
  }

  .none-educ,
  .none-hobby {
    margin-left: -55%;
  }

  .Newpersonalheading {
    display: block;
    width: 101vw;
    font-size: 1.2rem;
  }

  .personalheading {

    display: none;

  }

  .wrapper {
    height: 290vh;
    background-color: #D6D6B1;
    background-color: #FFFFFF;
    width: 101vw;
  }
}