div{
  color: semi-black;
}


/* Hamburger Menu css */


/* Responsive dropwdown css */

/* Media query for mobile devices */
@media screen and (max-width: 700px) {
/* Show hamburger icon */
.ham {
  display: block;
}

.show{
  display: block;
}
.text{
  font-size: 1rem;
margin:auto;
width: fit-content;
}
}