.icons{
    width: 10vw;
    /* font-size: 12px; */
    display: flex;
    color: white    ;
    height: 10vh;
    position: absolute;
    left: 87%;
    /* margin-left: 12px; */
}
.leo{
    margin-left: 30px;
    margin-top: 12px;

}
.leo:hover{
    cursor: pointer;
}
.bottom-box{
    width: 100%;
    height: 30vh;

}

.para{
    position: absolute;
left: 40%;
/* top: ; */
    /* text-align: center; */
    margin-top: 15%;
    color: white;    ;

} 
.love{
    position: absolute;
    /* top:20%; */
    margin-top: 0;
   
}
.love p{
    color: white;
}

.qr-code{
    width: 12vw;
    height: 25vh;

    position: absolute;
    /* border: 2px solid red; */

    top: 80%;
    background: url('./mountains.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}
footer{
    height: 37vh;
    /* border: 2px solid red; */
    background-color: #090C02;
}
@media screen and (max-width: 700px) {
.icons{
    position: absolute;
    left: 60%;
}
.para{
    /* border: 2px solid red; */
    /* margin-right:70%; */

    width: 90vw;
    position: absolute;
    /* top: 20%; */
    margin-top:45% ;
    left: 10%;
    height: 4vh;
    /* border: 2px solid red; */
/* bottom: -/10%; */
}
.bottom-box{
    width: 101vw;
    height: 25vh;
    /* border: 2px solid red; */
    /* margin-top: 12px; */
}
.love {
    margin-top: 3%;
       /* font-family: "Playfair Display", serif; */
}
footer{
    position: absolute;
    /* margin-top:140%; */
    height: 25vh;
    width: 101vw;
}

/* mage qr code */
.qr-code{
    width: 22vw;
    height: 10vh;
    /* position: absolute; */
    margin-left: -160%;
}
}