.icons {
    width: 10vw;
    display: flex;
    color: white;
    height: 10vh;
    position: absolute;
    left: 87%;
}

.leo {
    margin-left: 30px;
    margin-top: 12px;
}

.leo:hover {
    cursor: pointer;
}

.bottom-box {
    width: 100%;
    height: 30vh;
}

.para {
    position: absolute;
    left: 40%;
    margin-top: 15%;
    color: white;
    /* background-color: #090C02; */
    /* width: 101vw; */
}

.love {
    position: absolute;
    margin-top: 0;
}

.love p {
    color: white;
}

.qr-code {
    width: 12vw;
    height: 25vh;
    position: absolute;
    top: 80%;
    background: url('./mountains.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

footer {
    height: 37vh;
    background-color: #090C02;
}

@media screen and (max-width:  1200px) {
    .icons {
        position: absolute;
        left: 55%;
    }

    .para {
        /* width: 90vw; */
        position: absolute;
        margin-top: 58%;
        left:0%;
        width: 100vw;
        text-align: center;
        bottom: 0%;
        /* border: 2px solid red; */
        /* border: 2px solid red; */
        /* height: 4vh; */
    }

    .bottom-box {
        width: 101vw;
        height: 25vh;
    }

    .love {
        margin-top: 3%;
    }

    footer {
        position: absolute;
    }

    .qr-code {
        width: 49vw;
        height: 24vh;
        margin-left: -280%;
        margin-top: 20%;
    }
}
