#fonts
{
    font-family: "Playfair Display SC", serif;
    /* font-family: "Indie Flower", cursive; */
    font-size: 1.2rem;
    font-weight: bolder;
}
/* DBD8B3 */

@media screen and (max-width: 700px) {
    #fonts{
        display: none;
    }
    nav{
        width: 101vw;
    }
}