#fonts
{
    font-family: "Playfair Display SC", serif;
    /* font-family: "Indie Flower", cursive; */
    font-size: 1.2rem;
    font-weight: bolder;
}
.margin{
    position: absolute;
    top: -10%;
}
    /* .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
    } */
@media screen and (max-width: 700px) {
    #fonts{
        display: none;
    }
    nav{
        width: 101vw;
    }
}