.heading {
    font-family: "Playfair Display SC", serif;
    font-size: 1.4rem;
    font-weight: bolder;
    height: 10vh;
    padding: 13px 22px;
    background-color: #090C02;
    color: white;
}
/* @font-face {
    font-family: 'CustomFont'; 
    src: url('path/to/font/custom-font.woff2') format('woff2'), 
         url('path/to/font/custom-font.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
  } */
.main-box {
    height: 180vh;
    background-color: #DBD8B3;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project1,
.project2,
.project3,
.project4,
.project5 {
    margin-bottom: 20px;
     
}


.project1-image{
background: url('./project1.png');


}
.project2-image{
background: url('./project2.png');


}
.project3-image{
background: url('./project3.png');

}
.project4-image{
    background: url('./project4.png');
}
.project5-image{
    background: url('./project5.png');
}
.project1-image,.project2-image,.project3-image,.project4-image,.project5-image{
    border-radius: 12px;
    width: 15vw;
    height: 24vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1%;
    /* background-size:a; */
    /* background-position:-3cap; */

}
.project5-image{
    background-position-x: center; 
    /* margin-top: 22px; */
}
.project3-image{
    background-position:-1.5cap;
}
.project4-image{
    background-position:-1.5cap;
}
.project1-des,
.project2-des,
.project3-des {
    margin-left: 5%;
    margin-top: 0.4%;
    text-decoration: underline;
    font-weight: bold;
    /* font-family: "Source Sans 3", sans-serif; */
    font-family: "Playfair Display", serif;
    color: #3B1C32;
    font-size: 1.5rem;
}
.project2-des{
    margin-left: 2% !important;
}
.project3-des{
    margin-left: 4% !important;
}
.des{
    position: absolute;
    margin-left: 19%;
    /* font-family: "Sedan", serif; Make sure "Sedan" font is correctly loaded */
    color: black;
    margin-top: 2%;
    font-size: 1.2rem;
    /* font-family: "Platypi", serif */
    font-family: "Playfair Display", serif;
    font-weight: bold;
}
.project2-des,
.project3-des{
    margin-left: 3%;
}
/* Link to portfolio */
.more{
    position: absolute;
    display: block;
    width: fit-content; 
    text-decoration: underline;
    margin-left: 85%;
    margin-top: 3%;
}


@media screen and (max-width: 700px) {
    .heading{
        width: 101vw;
    }
    .main-box{
        width: 101vw;
        margin-top: -1.3px;
        display: flex;
        height: 80vh;
        overflow-x: auto;
    }
    .des{
        display: none;
    }
    .image-box{
        margin-top: 112px;
    }
    .project1-image,.project2-image,.project3-image,.project4-image,.project5-image{
        width: 90vw;
        margin: auto;
        white-space: nowrap;
        margin-left: 22px;
        height: 40vh;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }
    .project5-image{
     background-position-x: center;   
        margin-right: 22px;
        
    }
    
.project1-des,.project2-des,.project3-des{
    text-align: center;
    margin-top: 7%;
}
.more{

    margin-top: 130%;
    border: 2px solid red;
    width: 200px;
    position: absolute;

right: 30px;
/* display: none; */
}
   
}