
/* @font-face {
    font-family: 'CustomFont'; 
    src: url('path/to/font/custom-font.woff2') format('woff2'), 
         url('path/to/font/custom-font.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
  } */
  .main-box {
    height: 180vh;
    background-color: #F8F8F8;
    color: #333333;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project1,
.project2,
.project3,
.project4,
.project5 {
    margin-bottom: 20px;
     
}


.new-project1-image{
background: url('./mern-stack.png');



}
.new-project2-image{
    background: url('./Python.jpg');
    
    
}
.new-project3-image{
    background: url('../components/Java.webp');

}
.new-project4-image{
    background: url('../components/C.webp');
    
}
.new-project5-image{
    background: url('../components/c++.jpg');
}
.new-project1-image,.new-project2-image,.new-project3-image,.new-project4-image,.new-project5-image{
    border-radius: 12px;
    width: 15vw;
    height: 24vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1%;
    background-position-x:center ;
    /* box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3); */
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5) inset;

}

.new-project1-des,
.new-project2-des,
.new-project3-des {
    margin-left: 5%;
    margin-top: 0.4%;
    text-decoration: underline;
    font-weight: bold;
    /* font-family: "Source Sans 3", sans-serif; */
    font-family: "Playfair Display", serif;
    color: #3B1C32;
    font-size: 1.5rem;
}
.new-project2-des{
    margin-left: 2% ;
}
.new-project3-des{
    margin-left: 7% ;
}
.des{
    position: absolute;
    margin-left: 19%;
    /* font-family: "Sedan", serif; Make sure "Sedan" font is correctly loaded */
    color: black;
    margin-top: 2%;
    font-size: 1.2rem;
    /* font-family: "Platypi", serif */
    font-family: "Playfair Display", serif;
    font-weight: bold;
}
.new-project2-des,
.new-project3-des{
    margin-left: 6%;
}
.new-project3-des{
    margin-left: 7%;
}
/* Link to portfolio */
.more{
    position: absolute;
    display: block;
    width: fit-content; 
    text-decoration: underline;
    margin-left: 85%;
    margin-top: 3%;
}


@media screen and (max-width: 700px) {
    .heading{
        width: 101vw;
    }
    .main-box{
        width: 101vw;
        margin-top: -1.3px;
        display: flex;
        height: 80vh;
        overflow-x: auto;
    }
    .des{
        display: none;
    }
    .new-image-box{
        margin-top: 112px;
    }
    .new-project1-image,.new-project2-image,.new-project3-image,.new-project4-image,.new-project5-image{
        width: 90vw;
        margin: auto;
        white-space: nowrap;
        margin-left: 22px;
        height: 40vh;
        overflow-y: hidden;
        scroll-behavior: smooth;
    }
    .new-project5-image{
     background-position-x: center;   
        margin-right: 22px;
        
    }
    
.new-project1-des,.new-project2-des,.new-project3-des{
    text-align: center;
    margin-top: 7%;
}
.more{

    margin-top: 130%;
    border: 2px solid red;
    width: 200px;
    position: absolute;

right: 30px;
display: none;
}
   
}